* {
	padding: 0;
	margin: 0;
	border: 0;
}



body {
	width: 100%;
	min-width: 1000px;
	background: white;
	font-family: Tahoma;
}

header {
	position: relative;
	background: #f4f4f4;
	width: 100%;
	height: 100px;

	-o-box-shadow: 0 0 5px #cfcfcf;
	-webkit-box-shadow: 0 0 5px #cfcfcf;
	-moz-box-shadow: 0 0 5px #cfcfcf;
	box-shadow: 0 0 5px #cfcfcf;
}

.header-buttons {
	position: absolute;
	bottom: 20px;
	left: 51px;
}

.header-buttons-add, .header-buttons-update {
	background: #0271c7;
	padding: 7px 11px;
	color: white;

	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;

	-o-box-shadow: 0px 1px 3px #bdbdbd;
	-webkit-box-shadow: 0px 1px 3px #bdbdbd;
	-moz-box-shadow: 0px 1px 3px #bdbdbd;
	box-shadow: 0px 1px 3px #bdbdbd;

	-o-text-shadow: 0px 1px 2px #015291;
	-webkit-text-shadow: 0px 1px 2px #015291;
	-moz-text-shadow: 0px 1px 2px #015291;
	text-shadow: 0px 1px 2px #015291;

	cursor: pointer;
}

.header-buttons-add {
	margin-right: 10px;
}

.header-buttons-add:hover, .header-buttons-add.active, .header-buttons-update:hover {
	color: #c2d0e2;
	background: #015da4;

	-o-box-shadow: inset 1px 1px 5px #012f52;
	-webkit-box-shadow: inset 1px 1px 5px #012f52;
	-moz-box-shadow: inset 1px 1px 5px #012f52;
	box-shadow: inset 1px 1px 5px #012f52;

}


#add-fast-event-window {
	display: none;
	position: absolute;
	width: 305px;
	height: 55px;
	top: 48px;
	left: 0;
	z-index: 3;

	background: #ffffff;
	border: 1px solid #b1b1b1;
	padding: 24px 20px;
	-o-box-shadow: 0px 0px 15px #cccccc;
	-webkit-box-shadow: 0px 0px 15px #cccccc;
	-moz-box-shadow: 0px 0px 15px #cccccc;
	box-shadow: 0px 0px 15px #cccccc;
}


#add-fast-event-window:after {	
    position: absolute;
    width: 20px;
    height: 14px;
    content: "";
    background: black url("../img/images.png") no-repeat 0 -13px;
    top: -14px;
    left: 22px;
}

.header-buttons-fast-event-text {
	width: 270px;
	border: 1px solid #b1b1b1;
	padding: 4px 8px;

	color: #000000;

	-o-box-shadow: inset 0px 1px 2px #b1b1b1;
	-webkit-box-shadow: inset 0px 1px 2px #b1b1b1;
	-moz-box-shadow: inset 0px 1px 2px #b1b1b1;
	box-shadow: inset 0px 1px 2px #b1b1b1;	
}

.header-buttons-fast-event-button {
	width: 44px;
	color: #000000;
	padding: 2px 8px;
	border: 1px solid #a6a6a6;
	font-size: 12px;


	margin-top: 14px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;

	background: -moz-linear-gradient(top, #ffffff, #f2f2f2); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background: -o-linear-gradient(top, #ffffff, #f2f2f2); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #f2f2f2); /* IE10 */
    background: linear-gradient(top, #ffffff, #f2f2f2); /* CSS3 */ 	
}

.header-buttons-fast-event-exit {
	position: absolute;
	width: 6px;
	height: 6px;
	top: 8px;
	right: 8px;
	background: url("../img/images.png") no-repeat -17px 0px;
	cursor: pointer;
}



#add-full-event-window {
	display: none;
	position: absolute;
	width: 300px;
	height: 250px;
	top: 0;
	left: 0;
	z-index: 3;

	background: #ffffff;
	border: 1px solid #b1b1b1;
	padding: 24px 20px;
	-o-box-shadow: 0px 0px 15px #cccccc;
	-webkit-box-shadow: 0px 0px 15px #cccccc;
	-moz-box-shadow: 0px 0px 15px #cccccc;
	box-shadow: 0px 0px 15px #cccccc;
}

#add-full-event-window.right-top {
	margin: -86px 0 0 -350px;
}

#add-full-event-window.right-top:after {	
	position: absolute;
	width: 11px;
	height: 21px;
	content: "";
	background: url("../img/images.png") no-repeat 0px -27px;
	top: 27px;
	right: -11px;
}

#add-full-event-window.right-bottom {
	margin: -307px 0 0 -350px;
}

#add-full-event-window.right-bottom:after {	
	position: absolute;
	width: 11px;
	height: 21px;
	content: "";
	background: url("../img/images.png") no-repeat 0px -27px;
	bottom: 27px;
	right: -11px;
}

#add-full-event-window.left-top {
	margin: -86px 0 0 10px;
}

#add-full-event-window.left-top:after {	
	position: absolute;
	width: 11px;
	height: 21px;
	content: "";
	background: url("../img/images.png") no-repeat -14px -27px;
	top: 27px;
	left: -11px;
}

#add-full-event-window.left-bottom {
	margin: -314px 0 0 9px;
}

#add-full-event-window.left-bottom:after {	
	position: absolute;
	width: 11px;
	height: 21px;
	content: "";
	background: url("../img/images.png") no-repeat -14px -27px;
	bottom: 27px;
	left: -11px;
}

.add-full-event-window-exit {
	position: absolute;
	width: 6px;
	height: 6px;
	top: 8px;
	right: 8px;
	background: url("../img/images.png") no-repeat -17px 0px;
	cursor: pointer;	
}

.add-full-event-title, .add-full-event-date, .add-full-event-people {
	width: 270px;
	border: 1px solid #b1b1b1;
	padding: 4px 8px;

	color: #000000;

	-o-box-shadow: inset 0px 1px 2px #b1b1b1;
	-webkit-box-shadow: inset 0px 1px 2px #b1b1b1;
	-moz-box-shadow: inset 0px 1px 2px #b1b1b1;
	box-shadow: inset 0px 1px 2px #b1b1b1;	

	margin-bottom: 5px;
}

.add-full-event-people-wrapper {
	height: 75px;
}

.add-full-event-title-content {
	display: none;
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 10px 0;

	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

.add-full-event-date-content {
	display: none;
	padding: 10px 0;
	font-size: 12px;
}

.add-full-event-people-content {
	display: none;
}

.add-full-event-date-content-people {
	font-size: 16px;

	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.add-full-event-description-content {
	display: none;
	height: 100px;	
	overflow: hidden;
	text-overflow: ellipsis;	
}

.add-full-event-description {
	width: 270px;
	height: 100px;
	border: 1px solid #b1b1b1;
	padding: 4px 8px;

	color: #000000;
	font-family: Tahoma;

	-o-box-shadow: inset 0px 1px 2px #b1b1b1;
	-webkit-box-shadow: inset 0px 1px 2px #b1b1b1;
	-moz-box-shadow: inset 0px 1px 2px #b1b1b1;
	box-shadow: inset 0px 1px 2px #b1b1b1;	

	resize: none;
}

.add-full-event-ok, .add-full-event-delete {
	float: left;
	width: 44px;
	padding: 2px 8px;
	border: 1px solid #a6a6a6;

	color: #000000;
	font-size: 12px;

	margin-top: 14px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;

	background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background: -webkit-gradient(linear, left top, left bottom, 
	 color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background: -ms-linear-gradient(top, #ffffff, #f2f2f2);
	background: linear-gradient(top, #ffffff, #f2f2f2);
}

.add-full-event-ok {
	margin-right: 10px;
}


.header-search-form {
	position: absolute;
	bottom: 20px;
	right: 49px;
}

.header-search-form-button {
	position: relative;
	width: 13px;
	height: 13px;
	top: 2px;
	background: url("../img/images.png") no-repeat;
	background-position: 0 0;

	margin-right: 8px;
	cursor: pointer;
}

.header-search-form-text {
	width: 185px;
	padding: 7px;
	color: #cccccc;

	border-top: 1px solid #b1b1b1;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #dddddd;

	-o-box-shadow: inset 0px 1px 2px #d0d0d0;
	-webkit-box-shadow: inset 0px 1px 2px #d0d0d0;
	-moz-box-shadow: inset 0px 1px 2px #d0d0d0;
	box-shadow: inset 0px 1px 2px #d0d0d0;
}

.header-search-form-variants {
	display: none;
	position: absolute;
	width: 200px;
	top: 46px;
	left: 27px;

	background: #ffffff;
	border: 1px solid #b1b1b1;
	padding: 2px;
	-o-box-shadow: 0px 0px 15px #cccccc;
	-webkit-box-shadow: 0px 0px 15px #cccccc;
	-moz-box-shadow: 0px 0px 15px #cccccc;
	box-shadow: 0px 0px 15px #cccccc;
	z-index: 4;
}

.header-search-form-variants:after {
	position: absolute;
	width: 20px;
	height: 14px;
	content: "";
	background: url("../img/images.png") no-repeat 0 -13px;
	top: -14px;
	left: 22px;
}

.header-search-form-variants-wrapper {
	height: 150px;
	overflow: auto;
}

.header-search-form-variant {
	padding: 7px;
	cursor: pointer;
}

.header-search-form-variant:hover {
	background: #27a1ff;
	color: #ffffff;
}

.header-search-form-variant-title {
	font-size: 12px;
	font-weight: bold;
}

.header-search-form-variant-date {
	font-size: 11px;	
	color: #666666;
}

.header-search-form-variant:hover .header-search-form-variant-date {
	color: #ffffff;
}

.header-search-form-line {
	background: #ebebeb;
	height: 1px;
	width: 90%;
	margin: 3px auto;
}


.general-block {
	position: relative;
	padding: 0 50px;
}

.general-block-buttons {
	padding: 15px 0 12px 0;
}

.general-block-month {

}

.general-block-month, .general-block-now {
	float: left;
}

.general-block-now {
	padding: 3px 6px;
	color: #666666;
	font-size: 13px;

	border: 1px solid  #dfdfdf;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-o-box-shadow: inset 0px 0px 3px #dfdfdf;
	-webkit-box-shadow: inset 0px 0px 3px #dfdfdf;
	-moz-box-shadow: inset 0px 0px 3px #dfdfdf;
	box-shadow: inset 0px 0px 3px #dfdfdf;

	margin-left: 9px;
	cursor: pointer;
}

.general-block-month-title, .general-block-month-left-arrow, .general-block-month-right-arrow { 
	float: left;
}

.general-block-month-title {
	padding: 3px 8px;
}

.general-block-month-left-arrow, .general-block-month-right-arrow {
	width: 3px;
	padding: 8px;

	border: 1px solid  #dfdfdf;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-o-box-shadow: inset 0px 0px 3px #dfdfdf;
	-webkit-box-shadow: inset 0px 0px 3px #dfdfdf;
	-moz-box-shadow: inset 0px 0px 3px #dfdfdf;
	box-shadow: inset 0px 0px 3px #dfdfdf;
	cursor: pointer;
}

.general-block-month-left-arrow div, .general-block-month-right-arrow div {
	width: 3px;
	height: 6px;

	background: url("../img/images.png") no-repeat;
}

.general-block-month-left-arrow div {
	background-position: -13px -6px;
}

.general-block-month-right-arrow div {
	background-position: -13px 0;
}

.calendar {
	padding: 1px 0 60px 1px;
}

.calendar-date {
	position: relative;
	width: 14.28%;
	height: 100px;
	float: left;

	padding: 9px 7px;
	color: #999999;

	margin: -1px 0 0 -1px;
	border: 1px solid #ebebeb;
	cursor: pointer;

	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.calendar-date[data-position=next], .calendar-date[data-position=prev] {
	color: #d4d4d4;
}

.calendar-date.active {
	background: #c2e4fe;
}

.calendar-date.today {
	background: #f4f4f4;
	font-weight: bold;
}

.calendar-date:hover, .calendar-date.active:hover, .calendar-date.today:hover {
	z-index: 2;
	background: #e5f1f9;
	border: 1px solid #8abfe9;

	box-shadow: inset 0px 0px 1px #86c9fd;
}

.calendar-date-events {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

.calendar-date-members {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.calendar-date-events-line {
	color: #666666;

}

/* OTHER */

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
   	display: table;
   	clear: both;
}

.hidden {
	display: none;
}